In [169]:
import pandas as pd
from pathlib import Path
filepath_source = Path('data/raw/disaster/emdat_public_2022_12_22_full.xlsx')
filepath_global = Path("data/processed/disaster/disaster-global.csv")
filepath_country = Path('data/processed/disaster/disaster-country.csv')
filepath_region = Path("data/processed/disaster/disaster-region.csv")

In [170]:
disasters_all = pd.read_excel(filepath_source, skiprows = 6)

/Users/paulschmitt/PycharmProjects/tuw-python-2022WS/venv/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [171]:
disasters_all.head()

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,1900-9002-CPV,1900,9002,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
1,1900-9001-IND,1900,9001,NaN,Natural,Climatological,Drought,Drought,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
2,1901-0003-BEL,1901,3,NaN,Technological,Technological,Industrial accident,Explosion,NaN,Coal mine,...,NaN,NaN,NaN,NaN,NaN,3.077091,NaN,NaN,NaN,NaN
3,1902-0012-GTM,1902,12,NaN,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,...,NaN,NaN,NaN,25000.0,781207.0,3.200175,NaN,NaN,NaN,NaN
4,1902-0003-GTM,1902,3,NaN,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,...,NaN,NaN,NaN,NaN,NaN,3.200175,NaN,NaN,NaN,NaN

In [172]:
# Remove whitespaces from all col-names and convert them to lower-case
disasters_all.columns = [c.replace(' ', '_').lower() for c in disasters_all.columns]
disasters_all.columns

Index(['dis_no', 'year', 'seq', 'glide', 'disaster_group', 'disaster_subgroup',
       'disaster_type', 'disaster_subtype', 'disaster_subsubtype',
       'event_name', 'country', 'iso', 'region', 'continent', 'location',
       'origin', 'associated_dis', 'associated_dis2', 'ofda_response',
       'appeal', 'declaration', 'aid_contribution_('000_us$)', 'dis_mag_value',
       'dis_mag_scale', 'latitude', 'longitude', 'local_time', 'river_basin',
       'start_year', 'start_month', 'start_day', 'end_year', 'end_month',
       'end_day', 'total_deaths', 'no_injured', 'no_affected', 'no_homeless',
       'total_affected', 'reconstruction_costs_('000_us$)',
       'reconstruction_costs,_adjusted_('000_us$)',
       'insured_damages_('000_us$)', 'insured_damages,_adjusted_('000_us$)',
       'total_damages_('000_us$)', 'total_damages,_adjusted_('000_us$)', 'cpi',
       'adm_level', 'admin1_code', 'admin2_code', 'geo_locations'],
      dtype='object')

In [173]:
disasters_all = disasters_all[disasters_all.disaster_group == "Natural"]

In [174]:
relevant_col_names = ["year", "country", "iso", "disaster_type", "disaster_subtype", "total_deaths"]
disasters_all = disasters_all.filter(items=relevant_col_names)
disasters_all.rename(columns={'country':'country_name', 'iso':'country_code', 'disaster_subtype':'subtype', 'disaster_type':'type', 'total_deaths':'deaths'}, inplace=True)

In [175]:
disasters_global_attributes = ["year", "type", "subtype", "deaths"]
disasters_global = disasters_all[disasters_global_attributes]
disasters_global.to_csv(filepath_global)

In [176]:
df.head(20)

,year,country_name,country_code,type,subtype,deaths
0,1900,Cabo Verde,CPV,Drought,Drought,11000.0
1,1900,India,IND,Drought,Drought,1250000.0
3,1902,Guatemala,GTM,Earthquake,Ground movement,2000.0
4,1902,Guatemala,GTM,Volcanic activity,Ash fall,1000.0
5,1902,Guatemala,GTM,Volcanic activity,Ash fall,6000.0
6,1903,Canada,CAN,Mass movement (dry),Rockfall,76.0
7,1903,Comoros,COM,Volcanic activity,Ash fall,17.0
10,1904,Bangladesh,BGD,Storm,Tropical cyclone,NaN
12,1905,Canada,CAN,Mass movement (dry),Rockfall,18.0
13,1905,India,IND,Earthquake,Ground movement,20000.0
14,1906,Chile,CHL,Earthquake,Ground movement,20000.0
15,1906,Colombia,COL,Earthquake,Ground movement,400.0
16,1906,Belgium,BEL,Flood,NaN,6.0
17,1906,Belgium,BEL,Flood,NaN,NaN
21,1906,China,HKG,Storm,Tropical cyclone,10000.0
23,1907,China,CHN,Earthquake,Ground movement,12000.0
24,1907,India,IND,Epidemic,Bacterial disease,1300000.0
26,1908,Canada,CAN,Mass movement (dry),Landslide,33.0
30,1909,Bangladesh,BGD,Storm,Tropical cyclone,172.0
31,1909,Bangladesh,BGD,Storm,Tropical cyclone,NaN

In [177]:
for col in df:
    print(col + ": " + str(df.loc[:, col].isnull().sum()))
print("Total: " + str(len(df)))

year: 0
country_name: 0
country_code: 0
type: 0
subtype: 3269
deaths: 4748
Total: 16488

In [178]:
un_country_codes = pd.read_csv("data/raw/country-codes/un-country-codes.csv", sep=";")
un_country_codes.columns = [c.replace(' ', '_').replace('-','_') for c in un_country_codes.columns]

In [179]:
countries_with_iso = df.merge(un_country_codes, how="left", left_on='country_name', right_on='Country_or_Area')[["country_name", "country_code", "ISO_alpha3_Code"]]

In [180]:
countries_with_iso.head()

  country_name country_code ISO_alpha3_Code
0   Cabo Verde          CPV             CPV
1        India          IND             IND
2    Guatemala          GTM             GTM
3    Guatemala          GTM             GTM
4    Guatemala          GTM             GTM

In [181]:
mismatches = countries_with_iso[countries_with_iso.ISO_alpha3_Code.isnull()]

In [182]:
mismatches.country_name.unique()

array(['Azores Islands', 'Netherlands Antilles', 'Czechoslovakia',
       'Soviet Union', 'Taiwan', 'Canary Is', 'Yugoslavia',
       'Wallis and Futuna', 'Virgin Island (U.S.)',
       'Virgin Island (British)',
       'Ascension and Tristan da Cunha Saint Helena'], dtype=object)

In [183]:
# Replace suffix
df['country_name'] = df['country_name'].apply(lambda x: x.replace(' (the)', ''))
# Reorder compley country-names
df['country_name'] = df['country_name'].apply(lambda x: x.split(',')[1] + " " + x.split(',')[0] if ',' in x else x)
# Remove random white-spaces at the start of a name
df['country_name'] = df['country_name'].apply(lambda x: x[1:] if x.startswith(' ') else x)

In [184]:
new_country_names = {
    "Germany Fed Rep": "Germany",
    "Germany Dem Rep": "Germany",
    "Hong Kong": "China",
    "Macao": "China",
    "Ã…land": "Ã…land Islands",
    "Congo (the Democratic Republic of the)": "Congo",
    "Turkey": "TÃ¼rkiye",
    "Korea (the Republic of)": "Republic of Korea",
    "Macedonia (the former Yugoslav Republic of)": "North Macedonia",
    "Congo (Democratic Republic of the)": "Democratic Republic of the Congo",
    "Yemen P Dem Rep": "Yemen",
    "Yemen Arab Rep": "Yemen",
    "Korea (the Democratic People's Republic of)": "Democratic People's Republic of Korea",
    "Korea (the Republic of)": "Republic of Korea",
    "Serbia Montenegro" : "Serbia",
    "Moldova (the Republic of)" : "Republic of Moldova",
    "Czech Republic" : "Czechia",
    "Taiwan (Province of China)" : "Taiwan"   
}

In [185]:
df = df.replace({"country_name": new_country_names}, inplace=False)

In [187]:
countries_with_iso = df.merge(un_country_codes, how="left", left_on='country_code', right_on='ISO_alpha3_Code')[["country_name", "country_code", "ISO_alpha3_Code"]]
mismatches = countries_with_iso[countries_with_iso.ISO_alpha3_Code.isnull()]
mismatches.country_name.unique()

array(['Azores Islands', 'Netherlands Antilles', 'Czechoslovakia',
       'Soviet Union', 'Taiwan', 'Canary Is', 'Yugoslavia'], dtype=object)

In [188]:
countries_with_iso.head(10)
mask = countries_with_iso.notnull().all(axis=1)
countries_with_iso[~mask].country_name.unique()

array(['Azores Islands', 'Netherlands Antilles', 'Czechoslovakia',
       'Soviet Union', 'Taiwan', 'Canary Is', 'Yugoslavia'], dtype=object)

In [189]:
df.loc[df.country_name == "Germany", "country_code"] = "DEU"
df.loc[df.country_name == "Serbia", "country_code"] = "SRB"
df.loc[df.country_name == "Yemen", "country_code"] = "YEM"
df.loc[df.country_name == "Taiwan", "country_code"] = "TWM"
df.loc[df.country_name == "Canary Is", "country_code"] = "SPI"
df.loc[df.country_name == "Azores Islands", "country_code"] = "AZO"

In [190]:
countries_with_iso = df.merge(un_country_codes, how="left", left_on='country_code', right_on='ISO_alpha3_Code')[["country_name", "country_code", "ISO_alpha3_Code"]]
mismatches = countries_with_iso[countries_with_iso.ISO_alpha3_Code.isnull()]
mismatches.country_name.unique()

array(['Azores Islands', 'Netherlands Antilles', 'Czechoslovakia',
       'Soviet Union', 'Taiwan', 'Canary Is', 'Yugoslavia'], dtype=object)

In [198]:
#df[df.subtype.isnull()].head(20)
df[df.country_name == "Yugoslavia"].count()

year            22
country_name    22
country_code    22
type            22
subtype         18
deaths          12
dtype: int64

In [168]:
df.to_csv(filepath_country)