In [4]:
import numpy as np
import pandas as pd

## Load and format the temperature anomaly data

In [17]:
path_raw_temp_data = 'data/raw/temperature/'
path_processed_temp_data = 'data/processed/temperature/'

In [18]:
path_countries_land_files = 'countries-land/'
path_countries_list_file = 'temp-countries-list.csv'

In [20]:
# Todo: remove loading temp_countries from processed data when combining jupyter notebooks
temp_countries: pd.DataFrame = pd.read_csv(path_processed_temp_data+path_countries_list_file,sep=',')

               Country ISO-alpha3
0          Afghanistan        AFG
1        Åland Islands        ALA
2              Albania        ALB
3              Algeria        DZA
4       American Samoa        ASM
5              Andorra        AND
6               Angola        AGO
7             Anguilla        AIA
8           Antarctica        ATA
9  Antigua and Barbuda        ATG

### Load temp-land-country data

In [13]:
temp_land_country = pd.DataFrame()

temp_land_country.columns = ["country code", "country name", "Year", "Month", "Monthly Anomaly", "Monthly Unc.", "Five-year Anomaly", "Five-year Unc.", "Ten-year Anomaly", "Ten-year Unc.", "Twenty-year Anomaly", "Twenty-year Unc."]

for country_name in country_names:
    path = path_raw_temp_data + country_name + '.txt'
    df_one_country = pd.read_csv(path, comment="%",header=None,delim_whitespace=True)

0         Afghanistan
1               Åland
2             Albania
3             Algeria
4      American Samoa
            ...
232    Virgin Islands
233    Western Sahara
234             Yemen
235            Zambia
236          Zimbabwe
Name: Country, Length: 237, dtype: object

### Create temp-land-region data

The region datasets get created from the temp-and-country dataset.

In [ ]:
# Todo: Calculate regional anomalies

# Todo: compare to the original regional data

### Load global-land-ocean dataset

In [ ]:
path_global_land_ocean_file = 'global-land-ocean.txt'

In [9]:
global_land_ocean = pd.read_csv(path_raw_temp_data+path_global_land_ocean_file, comment="%",header=None,delim_whitespace=True)
global_land_ocean.columns = ["Year", "Annual Anomaly", "Annual Unc.", "Five-year Anomaly", "Five-year Unc.", "Annual Anomaly", "Annual Unc.", "Five-year Anomaly", "Five-year Unc."]

In [10]:
global_land_ocean.head(3)

,Year,Annual Anomaly,Annual Unc.,Five-year Anomaly,Five-year Unc.,Annual Anomaly,Annual Unc.,Five-year Anomaly,Five-year Unc.
0,1850,-0.441,0.179,NaN,NaN,-0.423,0.162,NaN,NaN
1,1851,-0.327,0.169,NaN,NaN,-0.324,0.154,NaN,NaN
2,1852,-0.300,0.170,-0.334,0.149,-0.286,0.154,-0.323,0.134